/* custom properties https://www.w3.org/TR/css-variables/ */
:root {
  /* Ameba color palette */

  /* Grayscale */
  --clr-black-a80: rgba(0, 0, 0, 0.8);
  --clr-black-a50: rgba(0, 0, 0, 0.5);
  --clr-black-a5: rgba(0, 0, 0, 0.05);
  --clr-darkgray: #333;
  --clr-dimgray: #666;
  --clr-gray: #999;
  --clr-dimsilver: #ccc;
  --clr-silver: #e2e2e2;
  --clr-lightsilver: #efefef;
  --clr-whitesmoke: #f8f8f8;
  --clr-white: #fff;

  /* Colors */
  --clr-green: #2d8c3c;
  --clr-lightgreen: #49c755;
  --clr-blue: #4290c6;
  --clr-lightblue: #58b8ef;
  --clr-pink: #ff547c;
  --clr-red: #f24c3b;
  --clr-orange: #fe9019;
  --clr-yellow: #f8cd21;
  --clr-gold: #cea65c;
  --clr-bronze: #b98353;

  /* Brand Colors */
  --clr-twitter: #1da1f2;
  --clr-facebook: #3b5998;
  --clr-line: #00b900;
  --clr-hatebu: #008fde;
  --clr-755: #fb4c42;
  --clr-dotmoney: #00bd9e;
}
