name: releasing

on:
  push:
    branches:
      - release/major
      - release/minor
      - release/patch
      - release/premajor
      - release/preminor
      - release/prepatch
      - release/prerelease

jobs:
  releasing:
    name: releasing
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write # Required for OIDC
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - name: Ensure npm 11.5.1 or later is installed for OIDC
        run: npm install -g npm@latest
      - id: npm-cache
        run: echo "dir=$(npm config get cache)" | tee -a "$GITHUB_OUTPUT"
      - id: npm-cache-restore
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            npm-
      - name: Set git user
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
      - name: Versioning
        run: npm version "${GITHUB_REF##*/}"
      - name: Publish to npm
        run: npm publish
      - name: Push updates
        run: |
          git push origin ${{ github.ref_name }}
          git push origin --tags
      - name: Create Pull Request
        run: >
          gh pr create
          --base "${{ github.event.repository.default_branch }}"
          --body ''
          --head "${{ github.ref_name }}"
          --title "chore(release): publish"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
